<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Briques Logicielles - Résumé</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/default.css">
  <link rel="stylesheet" href="styles/style.css">
  <style>
    .my-inp {
      display: inline-block;
      width: fit-content;
    }

    @media print {

      .table-bordered>tbody>tr>td,
      .table-bordered>thead>tr>td,
      .table-bordered>tbody>tr>th,
      .table-bordered>thead>tr>th {
        border-color: #333 !important;
      }
    }
  </style>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>
  <main class="container my-4">
    <h1>Briques Logicielles - Résumé</h1>

    <article>
      <h2>Structures Simples</h2>

      <section>
        <h3 class="brique">Affichage - Partie 1</h3>

        <div class="no-page-break-inside">
          <p class="explication">Affichage d'un texte simple</p>
          <div class="row">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">Ecrire("J'aime la vie!")</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">print("J'aime la vie!")</code></pre>
            </div>
          </div>
        </div>

        <div class="no-page-break-inside">
          <p class="explication">Affichage du contenu d'une variable</p>
          <div class="row">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">msg &larr; "J'aime la vie!"
Ecrire(msg)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">msg = "J'aime la vie"
print(msg)</code></pre>
            </div>
          </div>
        </div>

        <div class="">
          <p class="explication">Affichage mixte (textes et variables)</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">nom &larr; "Mohamed"
Ecrire(nom, "est plein d'espoir.")</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">nom = "Mohamed"
print(nom, "est plein d'espoir.")</code></pre>
            </div>
          </div>

          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">nom &larr; "Mohamed"
age &larr; 16
Ecrire("Je suis", nom, ", j'ai", age, "ans.")</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">nom = "Mohamed"
age = 16
print("Je suis", nom, ", j'ai", age, "ans.")</code></pre>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="brique">Affichage - Partie 2</h3>

        <div>
          <p class="explication">f-String simple</p>
          <p>Afficher une expression</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">x &larr; 8
y &larr; 5
Ecrire(x, "*", y, "=", x*y)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">x = 8
y = 5
print(f'{x} * {y} = {x*y}')  # 8 * 5 = 40</code></pre>
            </div>
          </div>
        </div>

        <div>
          <p class="explication">f-String entiers</p>
          <p>Dans <code>{x:5}</code> le nombre 5 indique la taille minimale du champ x.</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">x &larr; 1
y &larr; 2
Ecrire("x=", x, "- y=", y)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">x = 1
y = 2
print(f'x= {x:5} - y= {y:5}')  # x=     1 - y=     2</code></pre>
            </div>
          </div>

          <p>Dans <code>{h:02}</code>, <code>h</code> est le nom d'une variable, <code>0</code> est le caractère de
            remplissage et <code>2</code> la taille minimale à réserver pour l'affichage de h.</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">h &larr; 7
m &larr; 0
s &larr; 3
Ecrire(h, ":", m, ":", s)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">h = 7
m = 0
s = 3
print(f'{h:02}:{m:02}:{s:02}')  # 07:00:03</code></pre>
            </div>
          </div>
        </div>

        <div>
          <p class="explication">f-String réels</p>
          <p>Dans <code>{moy:.2f}</code> le <code>.2</code> indique le nombre de chiffres après la virgule à utiliser
            pour l'affichage d'un réel.</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">dc &larr; 11
ds &larr; 12
moy &larr; (dc + ds * 2) / 3
Ecrire("Moyenne =", moy)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">dc = 11
ds = 12
moy = (dc + ds * 2) / 3
print(f'Moyenne = {moy:.2f}')  # Moyenne = 11.67</code></pre>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="brique">Saisie d'une donnée</h3>
        <div class="">
          <p class="explication">Saisie d'une chaîne de caractères</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// nom est de type chaîne de caractères
Ecrire("Quel est votre nom ? ")
Lire(nom)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># nom est de type chaîne de caractères
# Python permet d'écrire un code plus réduit
nom = input("Quel est votre nom ? ")</code></pre>
            </div>
          </div>

          <p class="explication">Saisie d'un entier</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// age est de type entier
Ecrire("Quel est votre age ? ")
Lire(age)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Python permet d'écrire un code plus réduit
# age est de type entier
age = int(input("Quel est votre age ? "))</code></pre>
            </div>
          </div>

          <p class="explication">Saisie d'un réel</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// hauteur est de type réel
Ecrire("Quel est votre hauteur (m) ? ")
Lire(hauteur)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Python permet d'écrire un code plus réduit
# hauteur est de type réel
hauteur = float(input("Quel est votre hauteur (m) ? "))</code></pre>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3 class="brique">Choix d'une valeur au hasard</h3>
        <div class="no-page-break-inside">
          <p class="explication">Choix d'un nombre dans un intervalle</p>
          <div class="row">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">
// Nbre aléatoire dans l'intervalle [10, 99]
na &larr; alea(10, 99)
Ecrire(na)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">from random import randint
# Nbre aléatoire dans l'intervalle [10, 99]
na = randint(10, 99)
print(na)</code></pre>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article>
      <h2 style="page-break-before: always;">Structures conditionnelles</h2>

      <section>
        <h3 class="brique">Si</h3>

        <div>
          <p class="explication">Forme réduite</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">si [condition] alors
    // Traitements
fin si</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">if [condition]:
    # Traitements
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Valeur absolue d'un nombre
a &larr; -9
va &larr; a
si a &lt; 0 alors
    a &larr; -a
fin si
Ecrire("|", a, "|=", va)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Valeur absolue d'un nombre
a = -9
va = a
if a &lt; 0:
    va = -a

print(f'| {a} |= {va}')  # | -9 |= 9</code></pre>
            </div>
          </div>
        </div>


        <div>
          <p class="explication">Forme alternative</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">si [condition] alors
    // Traitement, si [condition] est vraie
sinon
    // Traitement, si [condition] est fausse
fin si</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">if [condition]:
    # Traitements, si [condition] est vraie
else:
    # Traitements, si [condition] est fausse
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Signe d'un nombre

a &larr; alea(-10, 10)
si a >= 0 alors
    Ecrire(a, "positif")
sinon
    Ecrire(a, "négatif")
fin si</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Signe d'un nombre
from random import randint
a = randint(-10, 10)
if a >= 0:
    print(f'{a} positif')
else:
    print(f'{a} négatif')
# -3 négatif </code></pre>
            </div>
          </div>
        </div>

        <div>
          <p class="explication">Forme complète</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">si [condition1] alors
    // Traitement, si [condition1] est vraie
sinon si [condition2] alors
    // Traitement, si [condition2] est vraie
sinon
    // Traitement, si toutes les condition sont fausses
fin si</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">if [condition1]:
    # Traitements, si [condition1] est vraie
elif [condition2]:
    # Traitements, si [condition2] est vraie
else:
    # Traitements, si toutes les condition sont fausses
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Comparaison de deux nombres

a &larr; alea(1, 5)
b &larr; alea(1, 5)
si a > b alors
    Ecrire(a, ">", b)
sinon si a &lt; b alors
    Ecrire(a, "&lt;", b)
sinon
    Ecrire(a, "=", b)
fin si</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Comparaison de deux nombres
from random import randint
a = randint(1, 5)
b = randint(1, 5)
if a > b:
    print(a, '>', b)
elif a &lt; b:
    print(a, '&lt;', b)
else:
    print(a, '=', b)
# 4 > 1  </code></pre>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article>
      <h2>Structures itératives</h2>

      <section>
        <h3>Pour</h3>

        <h4>1<sup>ère</sup> forme</h4>
        <div>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">pour [cpt] de 0 à [fin]-1 Faire
    // Traitements
fin pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">for [cpt] in range([fin]):
    # Traitements
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple : Afficher un message</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Afficher un message plusieurs fois
Pour i de 0 à 4 Faire
    Ecrire("I am a Pythonista!")
Fin Pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Afficher un message plusieurs fois
for i in range(5):
    print("I am a Pythonista!")
 </code></pre>
            </div>
          </div>
        </div>

        <h4>2<sup>ème</sup> forme</h4>
        <div>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">pour [cpt] de [debut] à [fin] Faire
    // Traitements
fin pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">for [cpt] in range([debut], [fin]+1):
    # Traitements
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple : Les nombres d'un intervalle</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Afficher tous les nombres d'un intervalle
Pour i de 10 à 20 Faire
    Ecrire("Le compteur marque", i)
Fin Pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Afficher un message plusieurs fois
for i in range(10, 21):
    print(f"Le compteur marque {i}")
 </code></pre>
            </div>
          </div>
        </div>

        <h4>3<sup>ème</sup> forme</h4>
        <div>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">pour [cpt] de [debut] à [fin] (pas=[p]) Faire
    // Traitements
fin pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">for [cpt] in range([debut], [fin]+1, [p]):
    # Traitements
 </code></pre>
            </div>
          </div>
          <p class="explication" style="page-break-before: always;">Exemple : Les nombres d'un intervalle par pas fixe
          </p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">// Les nombres d'un intervalle par pas de 4
Pour i de 3 à 20 (pas = 4) Faire
    Ecrire("Le compteur marque", i)
Fin Pour</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python"># Afficher un message plusieurs fois
for i in range(3, 21, 4):
    print(f"Le compteur marque {i}")
 </code></pre>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Répéter ... Jusqu'à</h3>
        <div>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">Répéter
    // Traitements
Jusqu'à [condition]</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">while True:
    # Traitements
    if [condition]:
        break
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple : Saisir un entier de deux chiffres</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">Répéter
    Ecrire("Donner un entier [10, 99] ? ")
    Lire(n)
Jusqu'à 10 &le; n &le; 99
 </code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">while True:
    n = int(input("Donner un entier [10, 99] ? "))
    
    if 10 &lt;= n &lt;= 99:
        break</code></pre>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Tant que</h3>
        <div>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">Tant que [condition] Faire
    // Traitements
Fin Tant que</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">while [condition]:
    # Traitements
 </code></pre>
            </div>
          </div>
          <p class="explication">Exemple : Calculer le PGCD de deux nombres</p>
          <div class="row no-page-break-inside">
            <div class="col-sm-6">
              <pre><code class="language-algorithm">
a &larr; alea(10, 50)
b &larr; alea(10, 50)
Ecrire("a=", a, "- b=", b)
Tant que b &ne; 0 Faire
    r &larr; a mod b
    a &larr; b
    b &larr; r
Fin Tant Que
// Le PGCD est dans la variable a
Ecrire(a)</code></pre>
            </div>
            <div class="col-sm-6">
              <pre><code class="language-python">from random import randint
a = randint(10, 50)
b = randint(10, 50)
print("a=", a, "- b=", b)
while b != 0:
    r = a % b
    a = b
    b = r

# Le PGCD est dans la variable a
print(a)</code></pre>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article>
      <h2 style="page-break-before: always;">Fonctions prédéfinies</h2>

      <section>
        <h3>Conversions</h3>

        <table class="table table-bordered table-sm" id="conversions">
          <thead>
            <tr>
              <th colspan="2">Fontion</th>
              <th rowspan="2" style="width: 30%;">Explication</th>
              <th rowspan="2" style="width: 40%;">Exemple</th>
            </tr>
            <tr>
              <th style="width: 15%;">Algorithme</th>
              <th style="width: 15%;">Python</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>valeur(string)</td>
              <td>int(string)</td>
              <td>Convertit une chaîne en un nombre entier</td>
              <td>
                <span v-if="!is_visible('int_str')"
                  v-on:click="show_control('int_str')">valeur("{{int_str['param']}}")</span>
                <input v-if="is_visible('int_str')" v-model="int_str['param']" v-on:keyup.enter="validate('int_str')"
                  class="my-inp my-inp-str" placeholder="string"><br>
                &RightArrow; {{int_str['res']}}
              </td>
            </tr>
            <tr>
              <td></td>
              <td>int(string, base)</td>
              <td>Convertit une chaîne en un nombre entier dans une base numérique</td>
              <td>
                <span v-if="!is_visible('int_base')" v-on:click="show_control('int_base')">int("{{int_base['param0']}}",
                  {{int_base['param1']}})</span>
                <input v-if="is_visible('int_base')" v-model="int_base['param0']"
                  v-on:keyup.enter="validate('int_base')" class="my-inp my-inp-str" placeholder="string">
                <input v-if="is_visible('int_base')" v-model="int_base['param1']"
                  v-on:keyup.enter="validate('int_base')" class="my-inp my-inp-str" placeholder="base"><br>
                &RightArrow; {{int_base['res']}}
              </td>
            </tr>
            <tr>
              <td>ent(real)</td>
              <td>int(real)</td>
              <td>Elimine la partie réelle d'un réel</td>
              <td>
                <span v-if="!is_visible('int_real')"
                  v-on:click="show_control('int_real')">ent({{int_real['param']}})</span>
                <input v-if="is_visible('int_real')" v-model="int_real['param']" v-on:keyup.enter="validate('int_real')"
                  class="my-inp my-inp-str" placeholder="real"><br>
                &RightArrow; {{int_real['res']}}
              </td>
            </tr>
            <tr>
              <td>valeur(string)</td>
              <td>float(string)</td>
              <td>Convertit une chaîne en nombre réel</td>
              <td>
                <span v-if="!is_visible('float_str')"
                  v-on:click="show_control('float_str')">valeur("{{float_str['param']}}")</span>
                <input v-if="is_visible('float_str')" v-model="float_str['param']"
                  v-on:keyup.enter="validate('float_str')" class="my-inp my-inp-str" placeholder="string"><br>
                &RightArrow; {{float_str['res']}}
              </td>
            </tr>
            <tr>
              <td></td>
              <td>bool(objet)</td>
              <td>
                Convertit un objet en booléen.<br>
                Retourne <code>False</code> pour <code>0</code>, <code>0.0</code>, <code>None</code>, et
                <code>False</code>.
              </td>
              <td>
                bool('False')<br>
                &RightArrow; True<br>
                bool(15.6)<br>
                &RightArrow; True<br>
                bool(None)<br>
                &RightArrow; False<br>
              </td>
            </tr>
            <tr>
              <td>convch(objet)</td>
              <td>str(objet)</td>
              <td>Convertit un objet en texte.</td>
              <td>
                convch(15)<br>
                &RightArrow; '15'<br>
                convch(15.6)<br>
                &RightArrow; '15.6'<br>
                convch(True)<br>
                &RightArrow; 'True'<br>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h3>Fonctions numériques</h3>

        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th colspan="2">Fontion</th>
              <th rowspan="2" style="width: 30%;">Explication</th>
              <th rowspan="2" style="width: 40%;">Exemple</th>
            </tr>
            <tr>
              <th style="width: 15%">Algorithme</th>
              <th style="width: 15%">Python</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>arrondi(x)</td>
              <td>round(x)</td>
              <td>Retourne l'entier le plus proche de la valeur de x.<br>
                <ul>
                  <li>&RightArrow; ent(x), si la partie décimale &lt; 0.5</li>
                  <li>&RightArrow; ent(x)+1, si la partie décimale &gt; 0.5</li>
                  <li>&RightArrow; l'entier pair le plus proche, si partie décimale = 0.5</li>
                </ul>
              </td>
              <td>
                <table class="table table-borderless table-sm">
                  <tbody>
                    <tr>
                      <td>arrondi(15.49)<br>
                        &RightArrow; 15<br>
                        arrondi(15.5)<br>
                        &RightArrow; 16<br></td>
                      <td>arrondi(16.5)<br>
                        &RightArrow; 16<br>
                        arrondi(16.51)<br>
                        &RightArrow; 17<br></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>racine(x)</td>
              <td>x ** 0.5<br>
                pow(x, 0.5)
                math.sqrt(x)</td>
              <td>Retourne la racine carée d'un nombre x positif.
              </td>
              <td>
                racine(16)<br>
                &RightArrow; 4.0<br>
                racine(17)<br>
                &RightArrow; 4.123105
              </td>
            </tr>
            <tr>
              <td>alea(vi, vf)</td>
              <td>from random import randint<br>randint(vi, vf)</td>
              <td>Retourne un entier aléatoire de l'intervalle [vi, vf].
              </td>
              <td>
                alea(10, 99)<br>
                &RightArrow; 15<br>
                alea(1, 6)<br>
                &RightArrow; 5
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h3 style="page-break-before: always;">Fonctions sur les caractères</h3>

        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th colspan="2">Fontion</th>
              <th rowspan="2" style="width: 30%">Explication</th>
              <th rowspan="2" style="width: 40%">Exemple</th>
            </tr>
            <tr>
              <th style="width: 15%">Algorithme</th>
              <th style="width: 15%">Python</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ord(car)</td>
              <td>ord(car)</td>
              <td>Retourne le code UNICODE du caractère car.</td>
              <td>
                ord("0")<br>
                &RightArrow; 48<br>
                ord("A")<br>
                &RightArrow; 65<br>
                ord("a")<br>
                &RightArrow; 97
              </td>
            </tr>
            <tr>
              <td>chr(code)</td>
              <td>chr(code)</td>
              <td>Retourne le caractère dont le code UNICODE est code.</td>
              <td>
                chr(48)<br>
                &RightArrow; '0'<br>
                chr(65)<br>
                &RightArrow; 'A'<br>
                chr(97)<br>
                &RightArrow; 'a'
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h3>Fonctions sur les chaînes</h3>

        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th colspan="2">Fontion</th>
              <th rowspan="2" style="width: 30%">Explication</th>
              <th rowspan="2" style="width: 40%">Exemple</th>
            </tr>
            <tr>
              <th style="width: 15%">Algorithme</th>
              <th style="width: 15%">Python</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>long(ch)</td>
              <td>len(ch)</td>
              <td>Retourne le nombre de caractères UNICODE de la chaîne ch.</td>
              <td>
                long("sami")<br>
                &RightArrow; 4<br>
                long("bac 2021")<br>
                &RightArrow; 8
              </td>
            </tr>
            <tr>
              <td>pos(ch1, ch2)</td>
              <td>ch2.find(ch1)</td>
              <td>Retourne la première position de la chaîne ch1 dans ch2, ou -1 si ch1 n'est pas trouvée.</td>
              <td>
                pos('s', 'base')<br>
                &RightArrow; 2<br>
                pos('S', 'maison')<br>
                &RightArrow; -1
              </td>
            </tr>
            <tr>
              <td>convch(x)</td>
              <td>str(x)</td>
              <td>Retourne la convresion d'un nombre (entier/réel) x en une chaîne de caractères.</td>
              <td>
                convch(100)<br>
                &RightArrow; '100'<br>
                convch('40.36')<br>
                &RightArrow; '40.36'
              </td>
            </tr>
            <tr>
              <td>estnum(ch)</td>
              <td>ch.isdigit()</td>
              <td>Retourne Vrai/True si la chaîne ch est convertible en une valeur numérique, elle retourne Faux/False
                sinon.</td>
              <td>
                estnum('100')<br>
                &RightArrow; Vrai<br>
                estnum('a25')<br>
                &RightArrow; Faux
              </td>
            </tr>
            <tr>
              <td>valeur(ch)</td>
              <td>
                int(ch), entier<br>
                float(ch), réel
              </td>
              <td>Retourne la conversion d'une chaîne ch en une valeur numérique, si c'est possible.</td>
              <td>
                valeur('100')<br>
                &RightArrow; 100<br>
                valeur('25.5')<br>
                &RightArrow; 25.5
              </td>
            </tr>
            <tr>
              <td>souschaine(ch, d, f)</td>
              <td>ch[d:f]</td>
              <td>Retourne une partie de la chaine ch à partir de la position d Jusqu'à la position f (non incluse).
              </td>
              <td>
                souschaine('baccalauréat 2021', 5, 12)<br>
                &RightArrow; 'lauréat'
              </td>
            </tr>
            <tr>
              <td>efface(ch, d, f)</td>
              <td>ch[:d] + ch[f:]</td>
              <td>Supprime une partie de la chaine ch à partir de la position d Jusqu'à la position f (non incluse).
              </td>
              <td>
                efface('med ali mani', 4, 8)<br>
                &RightArrow; 'med mani'
              </td>
            </tr>
            <tr>
              <td>majus(ch)</td>
              <td>ch.upper()</td>
              <td>Convertit la chaîne ch en majuscules.</td>
              <td>
                majus('baccalauréat 2021')<br>
                &RightArrow; 'BACCALAURÉAT 2021'
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2020/2021</div>
  </footer>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/highlight.pack.js"></script>
  <script src="scripts/hljs.algorithm.js"></script>
  <script src="scripts/draggable.js"></script>
  <script src="scripts/clipboard.min.js"></script>
  <script src="scripts/pages.js"></script>
  <script src="scripts/savecontent.js"></script>
  <script src="scripts/vue.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
    $(() => {
      const localStore = new PagePersistance();
      const serverStore = new ServerSaves('Building-Blocks');
      const userInputSaver = new UserInputSaver(
        document.querySelector('.user-input-saver'),
        localStore,
        serverStore);
      new Vue({
        el: '#conversions',
        data: {
          int_str: {
            param: '15',
            res: 15,
            fn: function () {
              if (/^[+-]*[0-9]+$/.test(this.param)) {
                this.res = parseInt(this.param);
              } else {
                this.res = 'Error';
              }
            }
          },
          int_base: {
            param0: '15',
            param1: 16,
            res: 21,
            fn: function () {
              if (/^[+-]*[0-9A-Za-z]+$/.test(this.param0) && this.param1 > 1 && this.param1 < 37) {
                const res = parseInt(this.param0, this.param1);
                if (isNaN(res)) {
                  this.res = 'Error';
                } else {
                  this.res = res;
                }
              } else {
                this.res = 'Error';
              }
            }
          },
          int_real: {
            param: '15.56',
            res: 15,
            fn: function () {
              const res = Math.floor(parseFloat(this.param));
              if (!isNaN(res)) {
                this.res = res;
              } else {
                this.res = 'Error';
              }
            }
          },
          float_str: {
            param: '15.56',
            res: 15.56,
            fn: function () {
              const res = parseFloat(this.param);
              if (!isNaN(res)) {
                this.res = res;
              } else {
                this.res = 'Error';
              }
            }
          },
          visible_controls: {}
        },
        methods: {
          is_visible: function (name) {
            if (typeof this.visible_controls[name] === 'undefined') {
              this.visible_controls[name] = false;
            }
            return this.visible_controls[name];
          },
          show_control: function (name, visible = true) {
            this.visible_controls[name] = visible;
            this.$forceUpdate();
          },
          validate: function (name) {
            this[name]['fn']();
            this.show_control(name, false);
          }
        }
      });
    });
  </script>
</body>

</html>