<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu de multiplication</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/default.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/projet03.css">
</head>

<body>
  <header class="py-2 px-4 bg-secondary">
    <div class="user-input-saver text-white">
      <div class="row">
        <div class="col-sm-6">
          <label>Nom & Prénom</label>
          <input type="text" class="form-control save-content" placeholder="Nom & Prénom">
        </div>
        <div class="col-sm-6">
          <label>Classe</label>
          <input type="text" class="form-control save-content" placeholder="Classe">
        </div>
      </div>
    </div>
  </header>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>
  <main class="container my-4">
    <h1>Projet n°3 - Jeu de multiplication</h1>

    <article>
      <h2>Exploration</h2>

      <section>
        <h3>Principe</h3>

        <div>
          <figure class="d-print-none">
            <img src="images/prj04/animation.gif" alt="Le jeu de multiplication">
            <figcaption>Le jeu de multiplication</figcaption>
          </figure>
          <figure class="d-none d-print-block">
            <img src="images/prj04/step0202-mini.png" alt="Le jeu de multiplication">
            <img src="images/prj04/step0201-mini.png" alt="Le jeu de multiplication">
            <figcaption>Le jeu de multiplication</figcaption>
          </figure>
        </div>

        <p>Mr Hatem, veut concevoir <strong>un programme éducatif</strong>, qui peut aider son fils, Ismaïl, un écolier
          en
          3<sup>ème</sup> année de base, qui vient tout juste de commencer <strong>l'apperentissage de la table de
            multiplication</strong> en "Hissab".</p>

        <p>Le programme se déroule comme suit :</p>
        <ul>
          <li>Au début, l'enfant choisit un nombre de 1 à 10, pour s'exercer. Le programme va lui poser, par la suite,
            cinq questions portant sur la multiplication de ce nombre avec cinq nombres distincts choisis au hasard
            entre 1 et 10.</li>
          <li>Pour chaque question, le programme propose quatre réponses différentes dont une seule est correcte.</li>
          <li>Ismaïl, doit choisir sa réponse parmi les propositions données.</li>
          <li>Le programme, félicite le petit garçon s'il répond correctement, sinon il lui indique la réponse correcte.
          </li>
          <li>A la fin de la partie, le programme affiche le score sur cinq de l'écolier.</li>
        </ul>
      </section>

      <section>
        <div class="d-print-none">
          <h3>Simulation</h3>

          <p>Tester cette version, pour un exemple de partie.</p>

          <div id="jeu-multiplication">
            <div class="step-1" v-if="step == 1">
              <div class="text-center my-4">Sélectionner un nombre pour vous exercer ?</div>
              <div class="choices">
                <div class="choice" v-for="i in nombres" v-on:click="selectNumber(i)">{{i}}</div>
              </div>
            </div>
            <div class="step-2" v-if="step == 2 || step == 3">
              <div class="question-number">Question {{currentQuestion + 1}} / {{t.length}}</div>
              <div class="question">{{n}} &times; {{t[currentQuestion]}} = ?</div>
              <div class="choices">
                <div class="choice"
                  v-bind:class="{'correct': i == selectedAnswer && selectedAnswer == correctAnswer, 'incorrect': i == selectedAnswer && selectedAnswer != correctAnswer, 'correct-answer': i == correctAnswer && selectedAnswer != -1}"
                  v-for="(prop, i) in p" v-on:click="checkAnswer(i)">{{prop}}</div>
              </div>
              <div v-if="step == 3" class="feedback">{{message}}</div>
            </div>
            <div class="step-4" v-if="step == 4">
              <div class="fin">Terminé</div>
              <div>Score</div>
              <div class="score">{{score}} / {{t.length}}</div>
              <div class="text-center"><button class="btn btn-primary w-75" v-on:click="resetGame()">Rejouer</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>Exemple d'exécution</h3>

        <div class="d-print-none text-center">
          <video controls>
            <source src="images/prj04/multiplication.mp4" type="video/mp4">
            <source src="images/prj04/multiplication.mp4.webm" type="video/webm">
          </video>
        </div>

        <pre><code class="hljs nohighlight"><span class="d-print-none">  __  __         _  _    _         _  _              _    _               
 |  \/  |       | || |  (_)       | |(_)            | |  (_)              
 | \  / | _   _ | || |_  _  _ __  | | _   ___  __ _ | |_  _   ___   _ __  
 | |\/| || | | || || __|| || &apos;_ \ | || | / __|/ _` || __|| | / _ \ | &apos;_ \ 
 | |  | || |_| || || |_ | || |_) || || || (__| (_| || |_ | || (_) || | | |
 |_|  |_| \__,_||_| \__||_|| .__/ |_||_| \___|\__,_| \__||_| \___/ |_| |_|
                           | |                                            
                           |_|                                            


</span>
Choisir un nombre de [1, 10] ? 4

Question 1 / 5

4 x 8 = ?
a. 4
b. 16
c. 32
d. 24
Quelle est la bonne réponse ? d
Non, c&apos;est faux ! La bonne réponse est 32

<span class="d-print-none">Question 2 / 5

4 x 7 = ?
a. 28
b. 64
c. 27
d. 50
Quelle est la bonne réponse ? 28
Réponse invalide
Quelle est la bonne réponse ? a
Bravo, tu as deviné!

Question 3 / 5

4 x 6 = ?
a. 24
b. 4
c. 6
d. 30
Quelle est la bonne réponse ? a
Bravo, tu as deviné!

Question 4 / 5

4 x 4 = ?
a. 16
b. 54
c. 20
d. 80
Quelle est la bonne réponse ? a
Bravo, tu as deviné!

Question 5 / 5

4 x 9 = ?
a. 81
b. 50
c. 36
d. 4
Quelle est la bonne réponse ? b
Non, c&apos;est faux ! La bonne réponse est 36
</span>
<span class="d-none d-print-inline">...</span>
Votre score est : 3 / 5
<span class="d-print-none">

   _____                    _  ____               
  / ____|                  | ||  _ \              
 | |  __   ___    ___    __| || |_) | _   _   ___ 
 | | |_ | / _ \  / _ \  / _` ||  _ &lt; | | | | / _ \
 | |__| || (_) || (_) || (_| || |_) || |_| ||  __/
  \_____| \___/  \___/  \__,_||____/  \__, | \___|
                                       __/ |      
                                      |___/       
</span>
</code></pre>
      </section>

      <section>
        <h3>Etapes du programme</h3>

        <ol type="a" class="order-items-exercise"
          data-enonce="Ordonner les étapes d'exécution d'après les examples donnés précédemment." data-isnumbered="true"
          hidden>
          <li data-ordre="6" data-place="true">Saisir la réponse de l'utilisateur</li>
          <li data-ordre="4">Initialiser un tableau p avec 4 propositions dont une seule est correcte</li>
          <li data-ordre="5" data-place="true">Afficher la question, et les propositions</li>
          <li data-ordre="7">Si la réponse est correcte, incrémenter le score, sinon afficher la bonne réponse</li>
          <li data-ordre="1" data-place="true">Saisir un nombre n entre 1 et 10</li>
          <li data-ordre="8" data-place="true">Afficher le score final</li>
          <li data-ordre="3" data-place="true">Pour chacun des nombres de t, refaire les étapes de 4 à 7</li>
          <li data-ordre="2">Initialiser un tableau t avec 5 nombres aléatoires différents entre 1 et 10</li>
        </ol>
      </section>
    </article>

    <article>
      <h2>Implémentation</h2>

      <section>
        <h3>Saisir un nombre n entre 1 et 10</h3>

        <p>Lorsque le petit Ismaïl commence à s'exercer, le programme lui demande de choisir le nombre de 1 à 10.</p>

        <div>
          <figure>
            <img src="images/prj04/step01.png" alt="Choix d'un nombre">
            <figcaption>Choix d'un nombre</figcaption>
          </figure>
        </div>

        <p>Ecrire l'algorithme qui permet de saisir un nombre entier <strong>n</strong>, tel que 1 &le; n &le; 10.</p>

        <div class="bricks-canvas" data-slots="1">
          <span class="brick"><span class="brick">Répéter</span><br>
            <span class="brick">Ecrire("Choisir un nombre de [1, 10] ? ")<br>
              Lire(n)</span><br>
            <span class="brick">Jusqu'à</span> <span class="brick">1 &le; n &le; 10</span></span>
          <pre class="success"><code class="language-algorithm">Répéter
  Ecrire("Choisir un nombre de [1, 10] ? ")
  Lire(n)
Jusqu'à 1 &le; n &le; 10</code></pre>
        </div>
      </section>

      <section>
        <h3>Initialiser un tableau avec des nombres aléatoires différentes</h3>

        <p>Après que le petit élève choisisse le nombre <code>n</code> dans l'étape précédente, maintenant, le programme
          devra choisir cinq questions différentes depuis la table de multiplication du nombre <code>n</code>.</p>

        <h4>Partie 1</h4>

        <p>Ecrire l'algorithme qui permet de remplir un tableau <strong>t</strong> par 5 nombres aléatoires différents
          entre 1 et 10.</p>

        <div>
          <figure>
            <img src="images/prj04/etape02.png" alt="Initialiser le tableau t">
            <figcaption>Exemple d'initialisation du tableau t</figcaption>
          </figure>
        </div>

        <p>On suppose que nous disposons d'une fonction nommée <code>Existe(t, n, v)</code> qui renvoie la valeur :</p>
        <ul>
          <li><code>Vrai</code>, si l'entier <code>v</code> fait partie des <code>n</code> premières valeurs du tableau
            <code>t</code>.
          </li>
          <li><code>Faux</code>, sinon.</li>
        </ul>

        <p>Utiliser les blocs suivants pour construire l'algorithme désiré.</p>

        <div class="bricks-canvas" data-slots="6">
          <span class="brick">Pour i de 0 à 4 Faire</span>
          <span class="brick">Répéter</span>
          <span class="brick">v &larr; aléa(1, 10)</span>
          <span class="brick">Jusqu'à non Existe(t, i-1, v)</span>
          <span class="brick">t[i] &larr; v</span>
          <span class="brick">Fin Pour</span>
          <pre class="success"><code class="language-algorithm">Pour i de 0 à 4 Faire
  Répéter
    v &larr; aléa(1, 10)
  Jusqu'à non Existe(t, i-1, v)
  t[i] &larr; v
Fin Pour</code></pre>
        </div>

        <h4>Partie 2</h4>

        <p>Pour chacune des questions choisies, le programme propose quatre propositions différentes dont une seule est
          correcte.</p>

        <div>
          <figure>
            <img src="images/prj04/etape03.png" alt="Initialiser le tableau p">
            <figcaption>Exemple d'initialisation du tableau <code>p</code>, la variable <code>br</code> indique l'indice
              (le numéro) de la bonne réponse dans ce tableau</figcaption>
          </figure>
        </div>

        <p>Pour celà, on pourra procéder de la façon suivante : </p>

        <ul>
          <li>Calculer <code>res</code> le produit de <code>n &times; t[i]</code></li>
          <li>Pour chacun des éléments du tableau <code>p</code> dont l'indice sera nommé <code>j</code> :
            <ul>
              <li>Choisir une valeur aléatoire <code>v1</code> comprise entre 1 et 10</li>
              <li>Choisir une autre valeur aléatoire <code>v2</code> comprise entre 1 et 10</li>
              <li>Calculer le produit des deux valeurs <code>v1</code> et <code>v2</code> dans une variable nommée
                <code>prod</code>
              </li>
              <li>Accepter <code>prod</code> si et seulement si :
                <ul>
                  <li><code>prod &ne; res</code></li>
                  <li><code>prod</code> ne fait pas partie du tableau <code>p</code></li>
                </ul>
              </li>
              <li>Affecter <code>prod</code> à <code>p[j]</code></li>
            </ul>
          </li>
          <li>Sélectionner une valeur aléatoire nommée <code>br</code> entre 0 et 3, cette variable contient la position
            de la bonne réponse dans le tableau <code>p</code></li>
          <li>Affecter <code>res</code> à <code>p[br]</code></li>
        </ul>

        <p>Ecrire l'algorithme qui permet de remplir le tableau <code>p</code> par quatre nombres aléatoires
          différents.</p>
        <p>Utiliser les blocs suivants pour construire l'algorithme désiré.</p>

        <div class="bricks-canvas" data-slots="4">
          <span class="brick">res &larr; n * t[i]</span>
          <span class="brick">
            Pour j de 0 à 3 Faire<br>
            Répéter<br>
            <span class="brick">v1 &larr; aléa(1, 10)<br>
              v2 &larr; aléa(1, 10)<br>
              prod &larr; v1 * v2</span><br>
            Jusqu'à <span class="brick">(prod &ne; res)</span> et (non Existe(p, j-1, prod))<br>
            <span class="brick">p[j] &larr; prod</span><br>
            Fin Pour
          </span>
          <span class="brick">br &larr; aléa(0, 3)</span>
          <span class="brick">p[br] &larr; res</span>
          <pre class="success"><code class="language-algorithm">res &larr; n * t[i]
Pour j de 0 à 3 Faire
  Répéter
    v1 &larr; aléa(1, 10)
    v2 &larr; aléa(1, 10)
    prod &larr; v1 * v2
  Jusqu'à (prod &ne; res) et (non Existe(p, j-1, prod))
  p[j] &larr; prod
Fin Pour
br &larr; aléa(0, 3)
p[br] &larr; res</code></pre>
        </div>
      </section>

      <section>
        <h3>Afficher les questions</h3>

        <p>Ecrire l'algorithme qui permet d'afficher les questions de la façon suivante : </p>

        <div class="row">
          <div class="col-sm-6">
            <pre><code class="hljs nohighlight">Question 1 / 5

4 x 8 = ?
a. 4
b. 16
c. 32
d. 24</code></pre>
          </div>
          <div class="col-sm-6">
            <pre><code class="hljs nohighlight">Question {i + 1} / 5

{n} x {t[i]} = ?
a. {p[0]}
b. {p[1]}
c. {p[2]}
d. {p[3]}</code></pre>
          </div>
        </div>

        <p>Utiliser les blocs suivants pour construire l'algorithme désiré.</p>

        <div class="bricks-canvas" data-slots="2">
          <span class="brick">
            Ecrire("Question", i + 1, "/ 5")<br>
            Ecrire()<br>
            Ecrire(n, "x", t[i], "= ?")</span>
          <span class="brick">
            Pour j de 0 à 3 Faire<br>
            Ecrire(<span class="brick">chr(97 + j)</span>+".", <span class="brick">p[j]</span>)<br>
            Fin Pour
          </span>
          <pre class="success"><code class="language-algorithm">Ecrire("Question", i + 1, "/ 5")
Ecrire()
Ecrire(n, "x", t[i], "= ?")
Pour j de 0 à 3 Faire
  Ecrire(chr(97 + j)+".", p[j])
Fin Pour</code></pre>
        </div>
      </section>

      <section>
        <h3>Saisir la réponse</h3>

        <p>Après l'affichage de la question, le programme devra demander la réponse de l'utilisateur <code>rep</code>
          qui devra être une lettre alphabétique de <code>"a"</code> à <code>"d"</code>.</p>

        <p>Ecrire l'algorithme de cette étape en utilisant les blocs suivants :</p>
        <div class="bricks-canvas" data-slots="4">
          <span class="brick">Répéter</span>
          <span class="brick">Ecrire("Quelle est la bonne réponse ? ")</span>
          <span class="brick">Lire(rep)</span>
          <span class="brick">Jusqu'à rep &in; ["a", "b", "c", "d"]</span>
          <pre class="success"><code class="language-algorithm">Répéter
    Ecrire("Quelle est la bonne réponse ? ")
    Lire(rep)
Jusqu'à rep &in; ["a", "b", "c", "d"]</code></pre>
        </div>
      </section>

      <section>
        <h3>Vérifier la réponse de l'utilisateur</h3>

        <p>Une fois l'utilisateur a répondu à la question, on devra vérifier si elle est bonne ou mauvaise et afficher
          un message en conséquence.</p>

        <div>
          <figure>
            <img src="images/prj04/step0201-mini.png" alt="Réponse fausse">
            <img src="images/prj04/step0202-mini.png" alt="Réponse correcte">
            <figcaption>Le programme vérifie si la réponse de l'utilisateur est correcte</figcaption>
          </figure>
        </div>

        <ul>
          <li>Si l'écolier répond correctement il reçoit un message de félicitation et son score est incrémenté</li>
          <li>Si l'écolier ne répond pas correctement il reçoit un message qui lui indique la bonne réponse</li>
        </ul>

        <p>On rappelle que :</p>
        <ul>
          <li>La variable <code>rep</code> contient le réponse de l'utilisateur, un caractère de <code>"a"</code> à "d"</li>
          <li>La variable <code>br</code> contient l'indice de la bonne réponse dans le tableau <code>p</code></li>
          <li>La variable <code>score</code> contient le score de l'élève, c-à-d le nombre de bonnes réponsess.</li>
        </ul>

        <p>Ecrire l'algorithme de cette étape en utilisant les blocs suivants :</p>

        <div class="bricks-canvas" data-slots="6">
          <span class="brick">r &larr; ord(rep) - 97</span>
          <span class="brick">Si r = br Alors</span>
          <span class="brick">Ecrire("Bravo, tu as deviné!")<br>
            score &larr; score + 1</span>
          <span class="brick">Sinon</span>
          <span class="brick">Ecrire("Non, c'est faux ! La bonne réponse est", res)</span>
          <span class="brick">Fin Si</span>
          <pre class="success"><code class="language-algorithm">r &larr; ord(rep) - 97
Si r = br Alors
    Ecrire("Bravo, tu as deviné!")
    score &larr; score + 1
Sinon
    Ecrire("Non, c'est faux ! La bonne réponse est", res)
Fin si</code></pre>
        </div>
      </section>

      <section>
        <h3>Afficher le score de l'élève</h3>
  
        <p>Lorsque l'élève termine les cinq question le programme lui affiche son score.</p>
  
        <p>Ecrire l'instruction algorithmique, en sachant que le score est stocké dans la variable <code>score</code>.</p>
      </section>
    </article>

    

  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2020/2021</div>
  </footer>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/highlight.pack.js"></script>
  <script src="scripts/hljs.algorithm.js"></script>
  <script src="scripts/draggable.js"></script>
  <script src="scripts/clipboard.min.js"></script>
  <script src="scripts/pages.js"></script>
  <script src="scripts/savecontent.js"></script>
  <script src="scripts/vue.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
    $(() => {
      const localStore = new PagePersistance();
      const serverStore = new ServerSaves('Projet 3');
      const userInputSaver = new UserInputSaver(
        document.querySelector('.user-input-saver'),
        localStore,
        serverStore);
      new Vue({
        el: '#jeu-multiplication',
        data: {
          step: 1,
          nombres: new Array(10).fill(0).map((v, i) => i + 1),
          t: [],
          p: [],
          n: null,
          selectedAnswer: 0,
          correctAnswer: 0,
          currentQuestion: 0,
          score: 0,
          message: ""
        },
        mounted: function () {
        },
        methods: {
          resetGame: function () {
            this.step = 1;
          },
          selectNumber: function (n) {
            this.n = n;
            this.score = 0;
            this.selectRandomNumbers();
            this.selectQuestion(0);
          },
          selectQuestion: function (nq) {
            this.currentQuestion = nq;
            this.step = 2;
            this.selectedAnswer = -1;
            this.selectRandomAnswers(this.t[nq] * this.n);
          },
          randint: function (d, f) {
            return Math.floor(Math.random() * (f - d + 1)) + d;
          },
          selectRandomNumbers: function () {
            this.t = [];
            for (let i = 0; i < 5; i++) {
              do {
                v = this.randint(1, 10);
              } while (this.t.includes(v));
              this.t[i] = v;
            }
          },
          selectRandomAnswers: function (res) {
            this.p = [];
            for (let i = 0; i < 4; i++) {
              let v1 = 0;
              let v2 = 0;
              let mul = 0;
              do {
                v1 = this.randint(1, 10);
                v2 = this.randint(1, 10);
                mul = v1 * v2;
              } while (this.p.includes(mul) || mul == res);
              this.p[i] = mul;
            }
            this.correctAnswer = this.randint(0, 3);
            this.p[this.correctAnswer] = res;
          },
          checkAnswer: function (index) {
            if (this.selectedAnswer != -1) {
              return;
            }
            this.selectedAnswer = index;
            if (index == this.correctAnswer) {
              this.message = "Bravo, tu as deviné !";
              this.score += 1;
            } else {
              this.message = "Désolé, ta réponse est fausse.";
            }
            this.step = 3;
            setTimeout(() => {
              if (this.currentQuestion < this.t.length - 1) {
                this.selectQuestion(this.currentQuestion + 1);
              } else {
                this.step = 4;
              }
            }, 1500);
          }
        }
      });
    });
  </script>
</body>

</html>