body {
    counter-reset: figures;
}

.explication {
    color: #e91e63;
    font-weight: bold;
    font-style: italic;
}

figcaption::before {
    content: "Figure " counter(figures) ", ";
}

figcaption {
    counter-increment: figures;
    font-size: 0.8em;
    font-style: italic;
}

.alert.alert-warning.warning-sign {
    background-image: url(../images/warning-sign.svg);
    background-repeat: no-repeat;
    padding-left: 160px;
    min-height: 150px;
}

.drop-target {
    min-height: 3rem;
}

.ordered-items-exercise {
    page-break-inside: avoid;
}

.ordered-items .numbered.list-group-item::before {
    content: counter(listgroupitem) ".";
    margin: 0 0.5rem;
}

.ordered-items .list-group-item {
    counter-increment: listgroupitem;
}